<div class="messages" *ngIf="msgService.messages.length">
    <h2>Messages</h2>
    <div *ngFor="let message of msgService.messages">
        {{message}}
    </div>
    <button class="clear" (click)="msgService.clear()">Clear</button>
</div>