<div class="container">
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Your Message</mat-label>
            <input #input matInput placeholder="Ex. Pizza" value="3">
        </mat-form-field>
        <button mat-button color="primary" (click)="onClick2(input.value)">Write Message</button>
    </div>
</div>